.countriesCont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto
}

.countriesCont > *{
    margin-bottom: 30px;
}

.anchored{
    background: linear-gradient(140deg, #757575 15%, #f5f5f5 0) !important;
}