.cardBox{
    width: fit-content;
    padding: 15px;
    background-color: whitesmoke !important;
    position: relative !important;
    cursor: pointer;
}

.checkBox{
    position: absolute !important;
    margin: auto;
    right: 15px;
    bottom: 10px;
}
.closeButton{
    position: absolute !important;
    margin: auto;
    right: 15px;
    top: 10px;
}